<%- layout('../partials/boilerplate') %>

<div class="products-container container-fluid d-flex pb-3 flex-wrap p-5 align-items-center">
    <% for(product of products){ %>



        <div class="card m-3" style="min-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%=product.name%></h5>
              <p class="card-text"><%=product.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price: <%=product.name%>  </li>
              <li class="list-group-item">Qty: <%=product.qty%>  </li>
            </ul>
            <div class="card-body">
              <a class="btn btn-success" href="/products/<%=product._id%>" class="card-link">See product</a>
            </div>
          </div>

    <% } %>
</div>