<%- include('./partials/navbar.ejs') %>

<div class="container-xl">
    <h1 class="mb-3 my-3">Found <%=results.length %> search results for <%=searchedName %></h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-center">
                <% results.forEach(product => { %>
        

                    <div class="card m-3" style="width: 18rem;">
                        
                        <div class="card-body">
                          <h5 class="card-title"><%= product.name %></h5>
                          <p class="card-text"><%= product.description %></p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Price: $<%= product.price %></li>
                          <li class="list-group-item">Qty: <%= product.quantity %></li>
                        </ul>
                        <div class="card-body">
                          <a href="/view-item/<%= product.id %>" class="btn btn-primary">View Item</a>
                        </div>
                      </div>
            
            
            
            
            
                    <% }) %>
            </div>
        </div>
    </div>
</div>