<%- layout('../partials/boilerplate') %>

<div class="container mt-3 w-50">
    <h1 class="text-light mb-5"><%=category.name%></h1>
    <div class="container">
        <% for(product of category.products){ %>
            <div class="card">
                <div class="card-body d-flex align-items-center">
                    <div class="card-title me-auto fs-3"><%=product.name%></div>
                    <div class="card-subtitle me-3">Qty: <%=product.qty%></div>
                    <div class="card-subtitle me-3">Price: $<%=product.price%></div>
                    <a class="btn btn-success" href="/products/<%=product._id%>">See product</a>
                </div>
            </div>
            <% } %>
    </div>
</div>