<%- layout('../partials/boilerplate') %>


<div class="container mt-5 w-50">
    <h1 class="card-title text-light"> Add a new product</h1>
    <form action="/products/<%=product._id%>/edit" method="POST">
        <div class="mb-3">
            <label class="form-label text-light" for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name" value="<%=product.name%>" required>
        </div>
        <div class="mb-3">
            <label class="form-label text-light" for="description">Description</label>
            <input class="form-control" type="text" name="description" id="description" value="<%=product.description%>" required>
        </div>
        <div class="mb-3">
            <label class="form-label text-light" for="price">Price</label>
            <input class="form-control" type="number" name="price" id="price" value="<%=product.price%>" min="0" required>
        </div>
        <div class="mb-3">
            <label class="form-label text-light" for="qty">Qty</label>
            <input class="form-control" type="number" name="qty" id="qty" value="<%=product.qty%>" min="0" required>
        </div>
        <div class="mb-3">
            <label class="form-label text-light" for="category">Category</label>
            <select class="form-control" name="category" id="category">
                <% for(cat of categories){ %>
                <option value="<%=cat.name%>"><%=cat.name%></option>
                <% } %>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Save Changes</button>
        <a href="/products/<%=product._id%>" class="btn btn-danger">Go back</a>
    </form>
</div>